<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %>prohibited this order from being served:</h2>
      <ul>
       <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %> 
      </ul>
    </div>
  <% end %>
    
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, rows: 3, cols: 40 %>  
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :pay_type %>
      <select class="dropdown-trigger btn" name="order[pay_type]" id="order_pay_type"><option value="">Select a payment method</option>
        <option value="Check">Cheque</option>
        <option value="Credit Card">Credit Card</option>
        <option value="Purchase order">Purchase order</option></select>
    </div>

    <div class="actions">
      <%= f.submit 'Place Order', class: 'createorderBtn' %>
    </div>
<% end %>